@page
@model ShoppingSiteDotNetCore.Pages.Admin.SubCategoryFormModel
@{
    Layout = "_Admin";
}
<div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">SubCategory Form</h3>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a asp-page="/Admin/SubCategoryList" class="btn btn-primary btn-round"><i class="fa fa-angle-left"></i>&nbsp;Back</a>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h2>SubCategory </h2>
            </div>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select asp-for="SubCategoryTblDTO.CategoryId" class="form-control" asp-items="Model.CategoryList">
                </select>
                <span class="text-danger" asp-validation-for="SubCategoryTblDTO.CategoryId"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">SubCategory</label>
                <input asp-for="SubCategoryTblDTO.SubCategory" class="form-control">
                <span class="text-danger" asp-validation-for="SubCategoryTblDTO.SubCategory"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Icon</label>
                <input asp-for="SubCategoryTblDTO.Icon" class="form-control">
                <span class="text-danger" asp-validation-for="SubCategoryTblDTO.Icon"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Status</label>
                <select class="form-control" asp-for="SubCategoryTblDTO.Status">
                    <option value="">-- Select Status --</option>
                    <option value="Active">Active</option>
                    <option value="Deactive">deactive</option>
                </select>
                <span class="text-danger" asp-validation-for="SubCategoryTblDTO.Status"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-footer text-center">
                @if (string.IsNullOrEmpty(Request.Query["Edit"]))
                {
                    <input type="submit" asp-page-handler="Create" class="btn btn-success" value="Save" />
                }
                else
                {
                    <input type="hidden" asp-for="SubCategoryTblDTO.SubCatId" class="form-control" />
                    <input type="submit" asp-page-handler="Update" class="btn btn-success" value="Update" />
                }
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="bg bg-danger alert alert-danger text-center mt-3">
                @Model.Error
            </div>
        }
    </form>
</div>
@section JavaScriptContent
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
